@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.woff') format('woff'),
    url('../fonts/Oswald-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.woff2') format('woff2');
    font-weight: 400;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Oswald', Arial, sans-serif;
}

.header {
    max-width: 1170px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    min-width: 180px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.header__logo-item {
    color: #ff6633;
}

.header__logo-link {
    display: flex;
    text-decoration: none;
    color: #333333;
}

.label {
    font-size: 70px;
    text-transform: uppercase;
}

.menu__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.menu__list-item {
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.menu__link {
    display: block;
    padding: 42px 20px;
}

.menu__link:hover {
    opacity: 1;
    background-color: #ff6633;
}

.link {
    vertical-align: baseline;
    text-decoration: none;
    color: #565656;
    transition: color .2s ease-in-out .1s;
}

.link:hover {
    color: #ffffff;
}

.ba-teaser {
    background: url("../images/ba-teaser.jpg") no-repeat;
    min-height: 800px;
    background-size: 100% 100%;
}

.ba-teaser__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    align-items: center;

    /*position: absolute;*/
    /*left: 7.5%;*/
}

.ba-teaser__label {
    color: #fff;
    font-size: 115px;
    font-weight: 400;
    text-transform: uppercase;
}

.button {
    background-color: #ff6633;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px #535353;
    transition: all 1s;
}

.button:hover {
    box-shadow: 0 0 25px #535353;
}

.ba-teaser__link {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.ba-teaser__link:hover {
    color: #fff;
    animation: shadow .2s 1 ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes shadow {
    from {
        text-shadow: 0 0 3px #fff;
    }
    to {
        text-shadow: 0 0 20px #fff;
    }
}

.section__content {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section__inner {
    border-top: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    padding-bottom: 60px;
}

.service-box {
    justify-content: center;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #ff6633;
    padding-bottom: 35px;
    padding-top: 35px;
    text-transform: uppercase;
}

.service {
    max-width: 300px;
    margin: 60px 30px 0;
    text-align: center;
}

.service__image-color {
    fill: #ff6633;
}

.service__title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.text {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.section__project {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
}

.section__project-box {
    display: flex;
    flex-basis: 50%;
}



.project__link {
    text-decoration: none;
    flex-grow: 1;
    width: 16%;
}

.project__image{
    width: 100%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.section__posts {
    flex-wrap: wrap;
}

.section__post-box {
    flex-direction: row;
    display: flex;
}

.post {
    display: flex;
    margin-top: 100px;
    margin-right: 30px
}

.post__image {
    width: 100%;
}

.post__content {
    width: 270px;
    margin-left: 30px;
    font-size: 0;
}

.post__header {
    position: relative;
    margin-bottom: 40px;
}

.post__title {
    font-size: 25px;
    font-weight: 700;
}

.post__date {
    display: flex;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 15px;
}

.post__date:after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: #ff6633;
    position: absolute;
    top: 37px;
    left: 0;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/