@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.woff') format('woff'),
    url('../fonts/Oswald-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff') format('woff'),
    url('../fonts/Oswald-Regular.woff2') format('woff2');
    font-weight: 400;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Oswald', Arial, sans-serif;
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    min-width: 180px;
    font-weight: 400;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.header__logo-item {
    color: #ff6633;
}

.label {
    font-size: 70px;
    text-transform: uppercase;
}

.menu__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.menu__list-item {
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.menu__link {
    display: block;
    padding: 42px 20px;
}

.menu__link:hover {
    opacity: 1;
    background-color: #ff6633;
}

.link {
    vertical-align: baseline;
    text-decoration: none;
    color: #565656;
    transition: color .2s ease-in-out .1s;
}

.link:hover {
    color: #ffffff;
}

.ba-teaser {
    background: url("../images/ba-teaser.jpg") no-repeat #565656;
    background-size: 100% 100%;
}

.ba-teaser__container {
    text-align: center;
    padding-top: 215px;
    padding-bottom: 340px;
}

.ba-teaser__label {
    display: block;
    color: #fff;
    font-size: 115px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.button {
    background-color: #ff6633;
    padding: 5px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px #535353;
    transition: all 1s;
}

.button:hover {
    box-shadow: 0 0 25px #535353;
}

.ba-teaser__link {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.ba-teaser__link:hover {
    color: #fff;
    animation: shadow .2s 1 ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes shadow {
    from {
        text-shadow: 0 0 3px #fff;
    }
    to {
        text-shadow: 0 0 20px #fff;
    }
}

.section__content {
    display: flex;
    flex-wrap: wrap;
}

.section__inner {
    border-top: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    padding-bottom: 60px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #ff6633;
    padding-bottom: 35px;
    padding-top: 35px;
    text-transform: uppercase;
}

.service {
    width: 300px;
    margin: 60px 50px 0;
    text-align: center;
}

.service__image-color {
    fill: #ff6633;
}

.service__title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.service__text {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-top: 25px;
    line-height: 1.3;
}

.section__project {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
}

.section__project-box {
    display: flex;
    flex-basis: 50%;
}

.project__link {
    text-decoration: none;
    flex-grow: 1;
    width: 16%;
}

.project__image {
    width: 100%;
}

.section__posts {
    flex-wrap: wrap;
}

.section__post-box {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.post {
    display: flex;
    margin-top: 100px;
    margin-right: 30px;
}

.post__image {
    width: 100%;
}

.post__image-box {
    margin-top: 8px;
    margin-bottom: 8px;
}

.post__content {
    width: 270px;
    margin-left: 30px;
}

.post__title {
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.post__date {
    display: flex;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 15px;
}

.post__date:after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: #ff6633;
    position: absolute;
    top: 37px;
    left: 0;
}

.post__text {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-top: 35px;
    line-height: 1.3;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.section__image {
    background: url("../images/city.jpg") no-repeat #565656;
    background-size: 100% 100%;
}

.section__form {
    padding-top: 30px;
}

.form__inner {
    display: flex;
    margin-bottom: 20px;
}

.form__column {
    flex-direction: column;
}

.form__input {
    width: 100%;
    color: #fd5433;
    border: 2px solid #cac9c9;
    font-size: 20px;
    padding: 15px;
    margin-right: 30px;
    outline-color: #fd5433;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input::-webkit-input-placeholder {
    color: #fd5433;
}

.form__text::-webkit-input-placeholder {
    color: #fd5433;
}

.form__text {
    color: #fd5433;
    min-height: 230px;
    max-width: calc(100% - 34px);
    min-width: calc(100% - 34px);
    border: 2px solid #cac9c9;
    padding: 15px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    outline-color: #fd5433;
}

.form__button-box {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
}

.footer {
    margin-top: 86px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ffffff;
}

.footer__container {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #fff;
}

.footer__copyright {
    display: flex;
    justify-content: center;
}

/*////////////////////////// ABOUT US ////////////////////////////////*/

.section__items {
    display: flex;
    justify-content: space-between;
}

.section__profile {
    margin-top: 65px;
}

.section__link {
    display: block;
}

.section__photo {
    width: 100%;
}

.section__profile-cursor {
    width: 0;
    display: block;
    border-style: solid;
    border-width: 35px 20px 0 20px;
    border-color: #ffffff transparent;
    position: relative;
    right: 12%;
}

.profile-description {
    margin-top: 35px;
    margin-right: 15px;
    width: 570px;
}

.profile__name {
    font-size: 22px;
    font-weight: 700;
}

.section__profile-about {
    margin-top: 65px;
    background-color: #ff6633;
}

.section__profile-layout {
    color: #ffffff;
    justify-content: space-between;
}

.profile-skills {
    margin-top: 35px;
    margin-left: 15px;
}

.profile__skills-list {
    width: 200px;
}

.list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.profile__inner {
    display: flex;
    align-items: center;
}

.profile-level {
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-level__progress-bar {
    width: 100%;
}

.profile-level__progress-bar2 {
    width: 98%;
}

.profile-level__progress-bar3 {
    width: 67%;
}

.profile-level__progress-bar4 {
    width: 70%;
}

.profile-level__progress-bar5 {
    width: 58%;
}

.text {
    font-family: 'Arial', sans-serif;
}

.status {
    background-color: #fff;
    display: block;
    height: 10px;
    margin-bottom: 14px;
}

.status:last-child {
    margin-bottom: 0;
}

.social {
    display: flex;
    padding-top: 50px;
    padding-bottom: 45px;
}

.social__icon {
    height: 25px;
    margin-right: 20px;
}

.social__icon:last-child {
    margin-right: 0;
}